{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }} | MobiStore{% else %}Интернет магазин | MobiStore{% endif %}
{% endblock %}
{% block content %}
<div id="content">
    <div class="container">
        <div class="promo">
            <div class="baner baner_big">
                <img src="{% static "./img/promo_baner1.png" %}" alt="">
            </div>
            <div class="baner baner_small baner_slider">
                <div class="slider_wrapper">
                    <img src="{% static "./img/promo_baner2.png" %}" alt="">
                    <img src="{% static "./img/promo_baner2.png" %}" alt="">
                    <img src="{% static "./img/promo_baner2.png" %}" alt="">
                </div>
            </div>
        </div>
        {% if not category %}

        <div class="advantages">
            <div class="advantage">
                <img src="{% static "./img/ico_fast.png" %}" alt="">
                <h3>Быстрая доставка</h3>
                <p>На каждом товаре отображен реальный срок доставки, либо наличие на складе</p>
            </div>
            <div class="advantage">
                <img src="{% static "./img/ico_mark.png" %}" alt="">
                <h3>Достойное качество</h3>
                <p>Все товары на нашем сайте самого высокого качества</p>
            </div>
            <div class="advantage">
                <img src="{% static "./img/ico_card.png" %}" alt="">
                <h3>Удобная оплата</h3>
                <p>Оплачивайте удобным для вас способом, Qiwi, Сбербанк, Наличные</p>
            </div>
            <div class="advantage">
                <img src="{% static "./img/ico_service.png" %}" alt="">
                <h3>Поддержка 24/7</h3>
                <p>Нам можно смело писать в любое время и получить ответ</p>
            </div>
        </div>
        {% endif %}
    </div>
    {% if not category %}

    <div id="sidebar">
        <div class="container">
            <h3>Популярные:</h3>
            <div class='categories'>
                {% for c in categories %}
                    {% if c.parent == None %}
                        <div class="category" {%if category.slug == c.slug %}class="category selected"{% endif %}>
                            <img class="category__img" src="{% if c.image %}{{ c.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                            <a class="category__name" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                            <a class="category__link" href="{{ c.get_absolute_url }}">Смотреть все</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <div id="main" class="product-list">
        <div class="container">
        <h3>{% if category %}{{ category.name }}{% else %}Рекомендуемые:{% endif %}</h3>
            <div class="product_list">
            {% for product in products %}
                <div class="product_item">
                    <a href="{{ product.get_absolute_url }}">
                            <img src="{% if product.get_title_image.image %}{{ product.get_title_image.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt='{{ product.name }}'>
                    </a>
                    <a href="{{ product.get_absolute_url }}">
                        <p class="product_item__name">{{ product.name }}</p>
                    </a>
                    <p class="product_item__price">{{ product.price }}р</p>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <script>
        let banerSlider = document.querySelector('.baner_slider');
        let wrapper = banerSlider.querySelector('.slider_wrapper');
        wrapper.ondragstart = function() {
            return false;
        };
        let slideCounter = 0;
        let sliderTranslation = 0;
        function nextSlide(){
            slideCounter++;
            if(slideCounter >= wrapper.children.length) slideCounter = 0;
            wrapper.style.transform = `translate(-${slideCounter}00%)`;
        }
        function prevSlide(){
            slideCounter--;
            if(slideCounter <= 0) slideCounter = wrapper.children.length-1;
            wrapper.style.transform = `translate(-${slideCounter}00%)`;
        }
        let coords = {x:0,y:0};
        let drag = false;
        wrapper.addEventListener('mousedown', function(e){
            wrapper.style.transition = 0;
            coords.x = e.clientX;
            coords.y = e.clientY;
            drag = true;
            clearInterval(interval);
        })
        window.addEventListener('mousemove', function(e){
            if(drag == true){
                console.clear();
                sliderTranslation = e.clientX - coords.x;
                let translation = `translate(calc(-${slideCounter}00% + ${sliderTranslation}px))`;
                console.log(translation);
                wrapper.style.transform = translation;
            }
        })
        window.addEventListener('mouseup', function(e){
            if(drag == true){
                wrapper.style.transition = '0.3s';
                let coords = {x:0,y:0};
                drag = false;
                if(sliderTranslation > 80)  nextSlide()
                else if(sliderTranslation < -80)    prevSlide()
                else{
                    let translation = `translate(calc(-${slideCounter}00%))`;
                    wrapper.style.transform = translation;
                }
                interval = setInterval(nextSlide,3000);
            }
        })
        let interval = setInterval(nextSlide,3000);
    </script>
{% endblock %}