.cart *{
    color: #000;
}
.cart__detail{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 40px 10px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 20px 1px #ccc;
    background-color: #fff;
}
.cart__empty_headline{
    color: #888;
}
.cart__empty_img{
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px 50px;
}
.cart__empty_img img{
    height: 100%;
    max-width:100%;
    transform: translate(-8.7%);
    object-fit: contain;
}
.cart__empty{
    padding-bottom: 15px;
    text-align: center;
}
.cart__item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}
.cart__item_list{
    padding: 30px 30px 0;
}
.cart__item_img{
    flex: 0 1 160px;
    padding: 10px;
    height: 100%;
}
.cart__item_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cart__item_name{
    font-size: 20px;
    font-weight: 600;
    flex: 0 1 200px;
}
.cart__item_quantity{
    flex: 0 1 50px;
}
.cart__item_cost{
    flex: 0 1 200px;
}
.cart__item_total_price{
    flex: 0 1 100px;
}
.cart__item_remove{
    flex: 0 1 50px;
    color: red;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
}
.cart__details{
    padding: 30px 30px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.cart__total{
    text-align: right;
    font-size: 20px;
    font-weight: 600;
}
.cart__shop,.cart__order{
    color: #000;
    background-color: #efcb00;
    width: 170px;
    padding: 20px;
    border-radius:60px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
}
.order_info{
    display: grid;
    grid-template-rows: 400px 220px 220px;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    padding: 40px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 20px 1px #ccc;
    background-color: #fff;
}
.order_info__title{
    background-color: #eee;
    padding: 10px 10px 10px 30px;
    margin: 0 0 10px;
}
.order__cart .order_info__title{
    margin: 0;
}
.order__cart{
    display: flex;
    flex-direction: column;
}
.order__item_list{
    padding-top: 10px;
    overflow-y: scroll;
}
.order__item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.order__item_img{
    height: 100%;
    flex: 0 1 110px;
}
.order__item_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.order__item_name{
    font-size: 16px;
    font-weight: 600;
    flex: 0 1 150px;
}
.order__item_quantity{
    flex: 0 1 30px;
}
.order__item_cost{
    flex: 0 1 170px;
}
.order__item_remove{
    flex: 0 1 50px;
}
.order__delivery_credits, .order__shoper_credits{
    display: flex;
    flex-direction: column;
}
.order_control{
    padding: 10px 10px 10px 20px;
    border-radius: 50px;
    border: 1px solid #888;
    margin-top: 10px;
    outline: none;
    width: 430px;
}
textarea.order_control{
    resize: none;
    border-radius: 20px;
    box-sizing: border-box;
}
.order__create{
    display: flex;
    align-items: center;
    grid-row-start: 5;
}
@media (max-width:1000px){
    .order_info{
        grid-template-rows:1fr 320px 220px 220px 320px 50px;
        grid-auto-rows: 220px;
        grid-template-columns: 1fr;
    }
    .order__cart{
        max-height: 400px;
    }
    .order__create{
        justify-content: center;
        grid-row-start: 6;
        height: 100px;
    }
    .product-detail{
        flex-direction: column;
        align-items: center;
    }
    .product_detail__features{
        align-self: center;
    }
    .product_detail__advantages{
        display: none;
    }
    .cart__empty_img{
        height: auto;
    }
    .cart__empty_img img{
        height: auto;
        max-height: 100%;
    }
}
@media screen and (max-width:600px){
    .order_control{
        width: auto;
    }
    textarea.order_control{
        width: 100%;
    }
}