{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <div class="container">
        <ul class="nav-list">
            <li class="nav-item"><a href="#" class="nav-link">Гарантия</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Доставка</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Оплата</a></li>
        </ul>
        <form action="#">
            <button class="auth_btn">Авторизация</button>
        </form>
    </div>
    
</div>
<div id="header">
        <div class="container">
        <a href="/" class="logo"><img src="{% static "img/logo.png" %}" alt=""></a>
        <a href="" class="adress">Полоцкая улица, 1Г, Донецк</a>
        <p class="time">Пн-пт: 9:00 - 19:00 Сб-вс: 9:00 - 19:00</p>
        <p class="phone">
            +38(071)3389708 <br>
            <a href="#">Заказать звонок</a>
        </p>
    </div>
</div>
<div id="subheader">
    <div class="container">
        <div class="catalog">
            Каталог товаров
        </div>
        <form class="search_form" action="#">
            <input class='search_input' placeholder="Найдите свои товары здесь" type="text">
        </form>
        <div class="cart">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    Your cart:
                    <a href="{% url "cart:cart_detail" %}">
                        {{ total_items }} item{{ total_items|pluralize }},
                        {{ cart.get_total_price }}руб.
                    </a>
                {% else %}
                    0 руб.
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="promo">
            <div class="baner">
                <img src="{% static "img/promo_baner1.png" %}" alt="">
            </div>
            <div class="baner">
                <img src="{% static "img/promo_baner2.png" %}" alt="">
            </div>
        </div>
        <div class="advantages">
            <div class="advantage">
                <img src="" alt="">
                <h3>Lorem, ipsum.</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, odit.</p>
            </div>
            <div class="advantage">
                <img src="" alt="">
                <h3>Lorem, ipsum.</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, odit.</p>
            </div>
            <div class="advantage">
                <img src="" alt="">
                <h3>Lorem, ipsum.</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, odit.</p>
            </div>
            <div class="advantage">
                <img src="" alt="">
                <h3>Lorem, ipsum.</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt, odit.</p>
            </div>
        </div>
    </div>
    
    {% block content %}
    {% endblock %}
</div>
<footer>
    <div class="container">
        <div class="footer__main">
            <div class="contacts">
                <p class="contscts__phone">+38(071)3389708</p>
                <button class="contacts__write_us">Написать нам</button>
                <p class="adress">Полоцкая улица, 1Г, Донецк</p>
            </div>
            <div class="info">
                <h4>Информация:</h4>
                <ul class="info_list">
                    <li class="info_item"><a href="#" class="info_link">Гарантия</a></li>
                    <li class="info_item"><a href="#" class="info_link">Доставка</a></li>
                    <li class="info_item"><a href="#" class="info_link">Оплата</a></li>
                    <li class="info_item"><a href="#" class="info_link">Контакты</a></li>
                </ul>
            </div>
            <div class="time">
                <h4>Время работы:</h4>
                <p>Пн-пт: 9:00 - 19:00</p>
                <p>Сб-вс: 9:00 - 19:00</p>
                <h4>Мы в социальных сетях</h4>
                <div class="socials">
                    <a href="" class="">
                        <img src="" alt="вк">
                    </a>
                    <a href="" class="">
                        <img src="" alt="инстаграмм">
                    </a>
                </div>
            </div>
            <div class="logo">
                <a href="/" class="logo"><img src="{% static "img/logo.png" %}" alt=""></a>
            </div>
        </div>
        <div class="footer__copyrights"><p>MobiStore 2021 Все права защищены. Разработано <a href="http://sos-computer.site">Сос Компьютер</a></p></div>
    </div>
</footer>
</body>
</html>