{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Интернет магазин | MobiStore{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/shop.css" %}" rel="stylesheet">
    <link href="{% static "css/cart.css" %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <meta name="keywords" content="Мобисторе, моби сторе, моби стори, мобе сторе, мобе стори, mobistore, mobi store, мобильные телефоны купить, ноутбук купить, бытовая техника купить, донецк, bq купить донецк, bq, xiaomy купить">
    <meta name="description" content="Магазин MobiStore предлагает более 500 видов техники и аксессуаров по доступной цене, с возможностью самовывоза и доставки. Безналичная и наличная оплата.">
</head>
<body>
<div class="navbar">
    <div class="container">
        <ul class="nav-list">
            <li class="nav-item"><a href="{% url "shop:shop_garant" %}" class="nav-link">Гарантия</a></li>
            <li class="nav-item"><a href="{% url "shop:shop_delivery" %}" class="nav-link">Доставка</a></li>
            <li class="nav-item"><a href="{% url "shop:shop_pay" %}" class="nav-link">Оплата</a></li>
        </ul>
        <form action="#">
            <button class="auth_btn"><img src="{% static "img/ico_user.png" %}" alt="">  Авторизация</button>
        </form>
    </div>
    
</div>
<div id="header">
    <div class="container">
        <a href="/" class="logo"><img src="{% static "img/logo.png" %}" alt=""></a>
        <a href="" class="adress"><img src="{% static "img/ico_map.png" %}" alt=""> Полоцкая улица, 1Г, Донецк</a>
        <p class="time"><img src="{% static "img/ico_clock.png" %}" alt=""> Пн-пт: 9:00 - 19:00 <img src="{% static "img/ico_clock.png" %}" alt=""> Сб-вс: 9:00 - 19:00</p>
        <p class="phone">
            +38(071)3389708 <br>
            <a href="#" class="write_us_triger" >Заказать звонок</a>
        </p>
    </div>
</div>
<div id="subheader">
    <div class="container">
        <div class="catalog">
            <span class="catalog__burger"></span>
            <span class="catalog__title">Каталог товаров</span>
            <span class="catalog__wrapper"></span>
            <ul class="categories__list">
                {% for c in categories %}
                    {% if c.parent == None %}
                        <li class="categories__item  {% if c.get_sub_categories %}parent{% endif %}">
                            <a href="{{c.get_absolute_url}}" class="categories__link">{{c.name}}</a>
                            {% if c.get_sub_categories %}
                                <div class="categories__item_subs">
                                    {% for sub_c in c.get_sub_categories %}
                                        <div class="categories__item_sub">
                                            <a href="{{sub_c.get_absolute_url}}">
                                                <img class="categories_sub_img" src="{% if sub_c.image %}{{ sub_c.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                                            </a>
                                            <a href="{{sub_c.get_absolute_url}}">{{sub_c.name}}</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <form class="search_form" action="{% url "shop:product_search" %}">
            <img class="search_form__icon" src="{% static "./img/ico_search.png" %}" alt="">
            <input class='search_input' placeholder="Найдите свои товары здесь" name='q' type="text">
        </form>
        <div class="cart_bar">
            <a href="{% url "cart:cart_detail" %}">
                {% with total_items=cart|length %}
                    <div class="cart_bar__icon">
                        <img src="{% static "./img/ico_shop.png" %}" alt="">
                        <span class="cart_bar__counter">{{ total_items }}</span>
                    </div>
                        {{ cart.get_total_price }}руб.
                {% endwith %}
            </a>
        </div>
    </div>
</div>
    {% block content %}
    {% endblock %}
</div>
<footer>
    <div class="container">
        <div class="footer__main">
            <div class="footer__col contacts">
                <p class="contacts__phone">+38(071)3389708</p>
                <button class="contacts__write_us write_us_triger">Написать нам</button>
                <p><a class="adress" href="#">Полоцкая улица, 1Г, Донецк</a></p>
            </div>
            <div class="footer__col info">
                <h4>Информация:</h4>
                <ul class="info_list">
                    <li class="info_item"><a href="#" class="info_link">Гарантия</a></li>
                    <li class="info_item"><a href="#" class="info_link">Доставка</a></li>
                    <li class="info_item"><a href="#" class="info_link">Оплата</a></li>
                    <li class="info_item"><a href="#" class="info_link">Контакты</a></li>
                </ul>
            </div>
            <div class="time">
                <h4>Время работы:</h4>
                <p class="time_clock"><img src="{% static "img/ico_clock.png" %}" alt=""> Пн-пт: 9:00 - 19:00</p>
                <p class="time_clock"><img src="{% static "img/ico_clock.png" %}" alt=""> Сб-вс: 9:00 - 19:00</p>
                <h4>Мы в социальных сетях</h4>
                <div class="socials">
                    <a href="https://vk.com/mobistore_dn" class="">
                        <img src="{% static "img/ico_vk.png" %}" alt="вк">
                    </a>
                    <a href="https://www.instagram.com/mobistore_donetsk" class="">
                        <img src="{% static "img/ico_inst.png" %}" alt="инстаграмм">
                    </a>
                </div>
            </div>
            <div class="logo">
                <a href="/" class="logo"><img src="{% static "img/logo.png" %}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="footer__copyrights"><p>MobiStore 2021 Все права защищены. Разработано <a href="http://sos-computer.site">Сос Компьютер</a></p></div>
</footer>
<div class="modal__form">
    <div class="modal__content">
        <div class="modal__header">
            <h2>Обратный звонок</h2>
            <button class="modal__close_btn">
                <span class="modal__close_icon"></span>
            </button>
        </div>
        <div class="modal__body">
            <form>
                <input type="text" placeholder="Ваше имя" name='name'>
                <input type="text" placeholder="Ваш телефон" name='phone'>
                <div class="perc_rights_block">
                    <input type="checkbox" id="perc_rights" name='license'><label for="perc_rights" >Я прочитал <a href="#">Политика безопасности</a> и согласен с условиями</label>
                </div>
                {% csrf_token %}
                <button>Отправить</button>
            </form>
        </div>
    </div>
</div>
<script>
    let modalForm = document.querySelector('.modal__form');
    let modalClose = document.querySelector('.modal__close_btn');
    let modalBtns = document.querySelectorAll('.write_us_triger')
    modalBtns.forEach(function(btn){
        btn.addEventListener('click',function(){
            modalForm.style.display = 'block';
        })
    })
    modalClose.addEventListener('click',function(e){
            modalForm.style.display = 'none';
    })
    modalForm.addEventListener('click',function(e){
        if(e.target == modalForm){
            modalForm.style.display = 'none';
        }
    })
    modalForm.querySelector('form').addEventListener('submit',async function(e){
        e.preventDefault();
        formData = new FormData(modalForm.querySelector('form'))
        //data.append('csrfmiddlewaretoken', $('#csrf-helper input[name="csrfmiddlewaretoken"]').attr('value'));
        console.dir(formData)
        let response = await fetch('./orders/create_request/', {
        method: 'POST',
        body: formData,
        credentials: 'same-origin',
        });

        let result = await response.json();
        if(result.status == true){
            modalForm.style.display = 'none';
        }
        alert(result.text)

    })
</script>
</body>
</html>