{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Доставка
{% endblock %}
{% block content %}
    <div id="main" class="shop_info">
        <div class="container">
        <h1>Оплата</h1>
            <div class="shop_info_description">
                <h4 class="description_title">Доставка:</h4>
                <h4 class="description_title">- СТОИМОСТЬ ДОСТАВКИ</h4>

                <p>Бесплатная курьерская доставка по Донецку и Макеевке  при заказе от 15,000 рублей 
                    При заказе менее 15,000 рублей доставка от 200 рублей</p>
                <br>
                <h4 class="description_title">- СРОКИ ДОСТАВКИ</h4>

                <p>Сроки доставки заказа зависят от наличия товаров на складе. Если в момент оформления заказа все выбранные товары есть в наличии, то мы доставим заказ в течение 1-2 дней. Если заказываемый товар отсутствует на складе, то доставка будет осуществлена после получения товара, и согласования срока с клиентом.</p>
                <br>
                <h4 class="description_title">- АДРЕС ПУНКТА САМОВЫВОЗА:</h4>
                <p>Полоцкая улица, 1Г, Донецк | Телефон: +38(071)3389708</p>
                <p>График работы: с 9:00 до 19:00</p>
            </div>
        </div>
    </div>
{% endblock %}